registry=https://pkgs.dev.azure.com/pitro0260/669c6179-dd93-4363-9214-f117f73af267/_packaging/TestAutomatization_Feed/npm/registry/ 
                        
always-auth=truehttps://learn.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml